<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!-- define the welcome files -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <!--        <welcome-file>index.html</welcome-file>-->
    </welcome-file-list>

    <!-- Enable the custom error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_java.jsp</location>
    </error-page>

    <!-- Define two security roles -->
    <security-role>
        <description>Customer service employees</description>
        <role-name>Service</role-name>
    </security-role>
    <security-role>
        <description>Developers</description>
        <role-name>Developer</role-name>
    </security-role>
    <security-role>
        <description>Clients</description>
        <role-name>Client</role-name>
    </security-role>

    <security-constraint>
        <!-- Restrict access to the URLs in the admin directory -->
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>

        <!-- Authorize the service and programmer roles -->
        <auth-constraint>
            <role-name>Service</role-name>
            <role-name>Developer</role-name>
        </auth-constraint>

        <!-- Forces a secure connection - remove comments to enable -->
        <!--
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
        -->
    </security-constraint>

    <!-- Use form-based authentication to provide access -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>

</web-app>